version: '2'
services:
  server:
    environment:
      - NPS_PUBLIC_URL=http://server.np.YOUR.SERVER.DOMAIN/
  ldf:
    environment:
      - BASEURL=http://ldf.np.YOUR.SERVER.DOMAIN/
  grlc:
    environment:
      - GRLC_SERVER_NAME=grlc.np.YOUR.SERVER.DOMAIN
  rdfsink:
    environment:
      - PASSWORD=dba  # Change this here and below to a strong password if virtuoso:8890 or virtuoso:1111 are opened
  virtuoso:
    environment:
      - DBA_PASSWORD=dba
