version: '2'
services:
  server:
    environment:
      - NPS_PUBLIC_URL=http://server.np.YOUR.SERVER.DOMAIN/
  ldf:
    environment:
      - BASEURL=http://ldf.np.YOUR.SERVER.DOMAIN/
  grlc
    environment:
      - GRLC_SERVER_NAME=http://grlc.np.YOUR.SERVER.DOMAIN/
